.buttons {
    display: flex;
    flex-direction: row;
    border: 5px black;
    width: 75px;
    height: 75px;
    flex-wrap: wrap;
    justify-content: right;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
button {
    background-color: red;
}