#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: red;
    height: 50px;
    width: 50px;
    color: white;
    display: flex;
    /* this allows the numbers to be centered properly */
    justify-content: center;
    align-items: center;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
}

.operators {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
}

.display {
    padding: 50px;
    border: red 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: gray;
    color: white;
    width: 50px;
    height: 10px;
}